<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>

            <p-table #dt [value]="positions" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="[]" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true"
                dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Portfolio</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <!-- <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" /> -->
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>

                        <th>Symbol</th>
                        <th>Total Shares</th>
                        <th>Cost Basis</th>
                        <th>Market Value </th>
                        <th>Unrealized Return Rate </th>
                        <th>Unrealized Profit/Loss</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-position>
                    <tr>

                        <td style="width:14%; min-width:10rem;">
                            {{position.symbol}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{position.totalShares}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            {{position.costBasis | currency:'USD'}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{position.marketValue}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{position.unrealizedReturnRate}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{position.unrealizedProfitLoss}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-eye"
                                    class="p-button-rounded p-button-success mr-2" [routerLink]="['/dashboard/transactions/', position.symbol]"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>